1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
a=[]
for i in range(1,101):
    if i%5==0 and i%3==0:
        a.append("Mickey Mouse")
    elif i%3==0:
            a.append("Mickey")
    elif i%5==0:
            a.append("Mouse")
    else:
            a.append(i)  


print(a)

for i in range (len(a)):
    if a[i]=="Mickey" :
        a[i]="Donald"
    elif a[i]=="Mouse" :
        a[i]="Duck" 
    elif a[i]=="Mickey Mouse" :
        a[i]="Donald Duck"
print(a)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'Mickey Mouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'Mickey Mouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'Mickey Mouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'Mickey Mouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'Mickey Mouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'Mickey Mouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald Duck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald Duck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald Duck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald Duck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald Duck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald Duck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swap(a,b):
    c=a
    a=b
    b=c
    return a,b

a=2
b=3
a,b=swap(a,b)

print(a,b)

a,b=b,a ##swap in python is easy
print(a,b)

3 2
2 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
u=(3,0)
v=(0,4)

def distance(u,v):
    x=(u[0]-v[0])**2
    y=(u[1]-v[1])**2
    return (pow(x+y,1/2))

d=distance(u,v)
d

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [5]:
s_lower=s.lower()
char_count={} #I use a set

for char in s_lower:
    if char in char_count:
        char_count[char]+=1
    else:
        char_count[char]=1

char_count

{'w': 2,
 'r': 17,
 'i': 14,
 't': 19,
 'e': 22,
 ' ': 41,
 'a': 7,
 'p': 8,
 'o': 13,
 'g': 1,
 'm': 12,
 'h': 9,
 'n': 10,
 's': 9,
 'u': 9,
 'b': 5,
 'f': 10,
 '1': 2,
 '0': 2,
 '.': 2,
 'l': 6,
 'c': 3,
 'k': 2,
 'y': 2,
 'd': 3,
 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [7]:
count={}
for i in l:
    if i in count:
        count[i]+=1
    else:
        count[i]=1

print(count)
for i in count:
    if count[i]==1:
        print(i,"is unique")

{36: 3, 45: 3, 58: 1, 3: 2, 74: 1, 96: 1, 64: 1, 31: 2, 10: 1, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 63: 2, 70: 3, 85: 3, 47: 1, 56: 2, 42: 2, 84: 4, 88: 1, 55: 1, 20: 3, 54: 1, 8: 1, 51: 3, 79: 1, 81: 1, 57: 1, 37: 1, 91: 3, 1: 1, 66: 2, 9: 1, 89: 2, 50: 2, 95: 1, 90: 1, 98: 1, 39: 1, 16: 1, 82: 1, 92: 1, 41: 1, 30: 1, 34: 2, 94: 1, 5: 1, 72: 1, 87: 1, 75: 1, 53: 1}
58 is unique
74 is unique
96 is unique
64 is unique
10 is unique
24 is unique
19 is unique
33 is unique
86 is unique
99 is unique
18 is unique
47 is unique
88 is unique
55 is unique
54 is unique
8 is unique
79 is unique
81 is unique
57 is unique
37 is unique
1 is unique
9 is unique
95 is unique
90 is unique
98 is unique
39 is unique
16 is unique
82 is unique
92 is unique
41 is unique
30 is unique
94 is unique
5 is unique
72 is unique
87 is unique
75 is unique
53 is unique

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [8]:
def power_2(a):
    return (a*a)

def power_3(a):
    return(a*a*a)

a=input("numero da inserire")    
print(power_2(int(a)))
print(power_3(int(a)))
print(power_2(power_3(int(a))))

numero da inserire 23

529
12167
148035889

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [9]:
l=[]
for i in range(0,11):
    l.append(i**3)

print(l)
[i**3 for i in range(0,11)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [10]:
pit=[]
for i in range(1,100):
    for j in range (1,100):
        for k in range(1,101):
            if k**2==i**2 + j**2 and [j,i,k] not in pit:
                pit.append([i,j,k])

#faster code
pythagorean_triples = []

for i in range(1, 100):
    for j in range(i, 100):   # avoid duplicates
        k_squared = i*i + j*j
        k = int(k_squared ** 0.5)

        if k <= 100 and k*k == k_squared:
            pythagorean_triples.append([i, j, k])
pyt=tuple(pythagorean_triples)
print(pyt)

([3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [28, 96, 100], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [60, 80, 100], [65, 72, 97])

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
a=(1,2,3,4,5,6,7)
s=sum(a)
b=[x / s for x in a]
a=tuple(b)
a

(0.03571428571428571,
 0.07142857142857142,
 0.10714285714285714,
 0.14285714285714285,
 0.17857142857142858,
 0.21428571428571427,
 0.25)